{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h1>Hello</h1>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">submit</legend>
                        <div class="form-group">
                            {{ form.content.label(class="form-control-label")}}
                            {% if form.content.errors %}
                            {{ form.content(class="form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{form. content(class="form-control form-control-lg")}}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div  class="form-group">
                        {{ form.submit(class="btn btn-outline-info")}}
                    </div>
            </div>

        {% for post in posts %}
        <article class="media content-section" src="{{ url_for('static',filename='profile_pics/' + post.author.image_file)}}">
            <img class="rounded-circle article-img" >
            <div class="card w-100">
                    <a class="mr-2" href="">{{ post.author.username}}</a>
                <h2><a class="article-title" href="#">{{ post.title}}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
        {% endfor %}
        </div>

        <div class="col-lg-3">

        </div>

</div>
</div>

{% endblock %}